body, input[type=submit], tbody tr:hover {
  background-color: #00b3e6
}

label, legend, ul li a {
  font-weight: 700
}

form, h1, h2, h3, thead, ul li {
  font-family: sans-serif
}

footer, form, table, ul li {
  background-color: #fff
}

footer, header {
  width: 100%;
  overflow: hidden
}

footer, h1, th, ul li {
  text-align: center
}

td, th, ul li {
  border: 1px solid #000;
  padding: 15px
}

ul li {
  opacity: .8;
  font-size: 2em
}

ul li:hover {
  opacity: 1
}

ul li a {
  text-decoration: none
}

a:hover {
  text-decoration: underline
}

ul li a:visited {
  color: #00f
}

input[type=submit] {
  color: #fff;
  padding: .4em 1em;
  border: none;
  border-radius: 4px;
  cursor: pointer
}

ul {
  list-style-type: none;
  width: 25em;
  padding: 1em;
  margin: 5% auto 0
}

table {
  border-spacing: 5px;
  width: 99.4%
}

td {
  text-align: left
}

h1 {
  color: #000
}

form fieldset input.invalid, form input.invalid {
  border: solid red
}

div.invalid {
  color: red
}

legend, thead {
  font-size: 130%
}

input:not([type=submit]), select, textarea {
  padding: .25em;
  border: 1px solid #000;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical
}

input:not([type=submit]):focus {
  border-color: #00b3e6
}

form, table {
  margin: .3em;
  border-radius: 5px;
  padding: 1em
}

tbody tr:hover {
  color: #fff
}

header {
  height: 7em
}

header h1 {
  font-size: 3em
}

footer {
  font-family: monospace;
  position: fixed;
  color: #000;
  left: 0;
  bottom: 0;
  height: 1.5em
}

@media print {
  a, input {
    color: #000 !important
  }

  h1 {
    font-size: 130% !important
  }

  header {
    background-color: #fff !important
  }

  body {
    background: #fff !important
  }

  img {
    width: 50%;
    height: auto
  }
}