form, header {
  background-color: #fff
}

body {
  background: url(../resources/h-book-colors.png);
  background-size: 100%
}

form {
  font-family: sans-serif;
  text-align: center;
  font-size: 2em;
  opacity: .9;
  width: 15em;
  padding: 1em;
  margin: 10% auto 0
}

form input {
  font-size: 1em;
  margin: .2em
}

form input[type=submit] {
  margin-top: .3em;
  margin-right: .01em
}